<article class = "cart_item">

	<div class = "cart_item_image product_image">

		<a href = "/cart/removeFromCart/{{memeName}}"><img src = {{memeURL}} class = "product_image"></a>

	</div>

	<div class = "item_info">

		<div>

			<p id = "item_name">{{memeName}}</p>

		</div>

	</div>

	<div class = "item_price">

		<p>{{price}}</p>

	</div>

	<div class = "item_quantity">

		<p>{{quantity}}</p>

	</div>

</article>
