<article class = "cart_item">

	<div class = "cart_item_image product_image">
	
		<a href = "#"><img src = {{memeURL}} class = "product_image"></a>
	
	</div>
	
	<div class = "item_info">
		
		<div class = "product_name">
			
			<p>{{name}}</p>
		
		</div>
		
		<div class = "product_type">
			
			<p>{{item_type}}</p>
		
		</div>
		
	</div>

	<div class = "item_price">
	
		<p>{{price}}</p>
	
	</div>
	
	<div class = "item_quantity">
		
		<p>{{quantity}}</p>
	
	</div>

</article>
